@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
}
h2{
    font-size: 1.8rem;
    font-weight: 600;
}
h3{
    font-size: 1.4rem;
    font-weight: 800;
}
h4{
    font-size: 1.1rem;
    font-weight: 600;
}
h5{
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}
h6{
    color: #fff;
}
button{
    background: transparent;
    color: black;
    width: 150px;
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 10px;
    font-size: 16px;
    box-shadow: 20px 30px 49px -14px gray;
    cursor: pointer;
}
button:hover{
    border: 2px solid black;
}
.navbar{
    font-size: 16px;
    left: 0;
    left: 0;
}
.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active{
    color: coral;
}
.navbar-nav i{
    padding: 0px 10px;
    transition: 00.3s ease;
}
.navbar-nav i:hover,
.navbar-nav i.active{
    color: coral;
}
.home{
    background-image: url(image/homebg.jpg);
    width: 100%;
    height: 100vh;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.home span{
    color: coral;
}
#new .one img{
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#new .one .details{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#new .one:hover{
    cursor: pointer;
    background-color: #FFBEB8;
    opacity: 0.5;
}
#new button{
    background: transparent;
    color: black;
    width: 150px;
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 10px;
    font-size: 16px;
    box-shadow: 20px 30px 49px -14px gray;
    cursor: pointer;
}
#new button:hover{
    border: 2px solid black;
}
#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: flex-start;
    text-align: start;
}
#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: flex-end;
    text-align: end;
    margin-left: -10px;
}
/*product*/
.product{
    cursor: pointer;
    margin-bottom: 2rem;
}
.productimg{
    transition: 0.3 all;
}
.product:hover img{
    opacity: 0.7;
}
.product .buy-btn{
    background: transparent;
    color: black;
    width: 150px;
    background-color: coral;
    border: none;
    border-radius: 25px;
    padding: 10px;
    font-size: 16px;
    box-shadow: 20px 30px 49px -14px gray;
    cursor: pointer;
    transform: translate(20px);
    opacity: 0;
    transition: 0.3s all;
}
.product:hover .buy-btn{
    transform: translate(0);
    opacity: 1;
}
.product{
    box-shadow: 0px 0px 10px -5px black;
}
hr{
    width: 30px;
    height: 2px;
    background-color: coral;
}
.star{
    padding: 10px 0;
}
.star i{
    font-size: 0.8rem;
    color: goldenrod;
}
#banner{
    background-image: url(image/homebg.jpg);
    width: 100%;
    height: 60vh;
    background-size:cover;
    background-position: top 70px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#banner h4{
    color: black;
}
#banner h1{
    color: #fff;
}
#banner button{
    background-color: #fb774b;
}

/*footer*/
footer h5{
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
}
footer li{
    padding-bottom: 4px;
}
footer li a{
    font-size: 0.8rem;
    color: #999;
}
footer li a:hover{
    color: #D8D8D8;
}
footer p{
    font-size: 0.8rem;
    color: #999;
}